{{ define "login" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "_header" }}
    <title>{{ .Title }}</title>
</head>
<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 p-5 login-form mt-5">
                <h3>Login</h3>
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label>Username</label>
                        <input type="text" class="form-control"
                            name="username" required>
                    </div>
                    <div class="mb-3">
                        <label>Password</label>
                        <input type="password" class="form-control"
                            name="password" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit"
                            class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</body>
</html>
{{ end }}